In [1]:
import pandas as pd
import os

import sys
from pathlib import Path
sys.path.insert(0,str(Path(os.path.abspath('.')).parent.parent))

In [19]:
ticket_path = Path.home()/"OneDrive-3E/Research/Solar/tickets/2024/IN3043_accuracy_factors_analysis"
parse_path = os.path.join(ticket_path, "IN3136_EURAC_shared_folder/data_sites/parsed")
result_path = os.path.join(ticket_path, "IN3136_EURAC_shared_folder/data_sites/parsed_removed")

In [3]:
parsed_ref_hour = pd.read_csv(os.path.join(parse_path, 'parsed_reference_data_hourly.csv'), index_col=0)
parsed_mod_hour = pd.read_csv(os.path.join(parse_path, 'parsed_model_data_hourly.csv'), index_col=0)

In [4]:
parsed_ref_dai = pd.read_csv(os.path.join(parse_path, 'parsed_reference_data_daily.csv'), index_col=0)
parsed_mod_dai = pd.read_csv(os.path.join(parse_path, 'parsed_model_data_daily.csv'), index_col=0)

In [5]:
parsed_ref_hour.index = pd.DatetimeIndex(parsed_ref_hour.index)
parsed_mod_hour.index = pd.DatetimeIndex(parsed_mod_hour.index)

parsed_ref_dai.index = pd.DatetimeIndex(parsed_ref_dai.index)
parsed_mod_dai.index = pd.DatetimeIndex(parsed_mod_dai.index)

In [6]:
parsed_ref_hour_sum = parsed_ref_hour.resample('D').sum(min_count=1)
parsed_mod_hour_sum = parsed_mod_hour.resample('D').sum(min_count=1)

In [7]:
parsed_ref = pd.concat([parsed_ref_hour_sum, parsed_ref_dai], axis=1)
parsed_mod = pd.concat([parsed_mod_hour_sum, parsed_mod_dai], axis=1)

In [11]:
parsed_ref

,camborne,carpentras,budapest_lorinc,magurele_mars,cabauw,cener,payerne,heino,lauwersoog,lelystad_locatie_23t,...,melun,tarbes_ossun,aubenas,bergerac,blois,zuerich_kloten,basel,gurteen,dublin_arpt,grossenzersdorf
2014-12-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 00:00:00+00:00,288.863,2009.370,NaN,NaN,712.279,2402.009,1634.834,600.333,316.166,351.834,...,1550.000,2338.889,1963.889,2327.778,1611.111,844.444,1483.333,158.333,330.556,377.778
2015-01-02 00:00:00+00:00,1067.311,1898.294,NaN,NaN,921.620,1995.462,849.325,706.833,772.501,800.832,...,366.667,2058.333,1836.111,1461.111,233.333,752.778,400.000,905.556,902.778,977.778
2015-01-03 00:00:00+00:00,394.264,2015.272,NaN,NaN,248.181,2290.470,417.981,210.999,394.501,190.167,...,194.444,2219.444,1772.222,436.111,300.000,444.444,297.222,555.556,630.556,969.444
2015-01-04 00:00:00+00:00,494.343,2144.920,NaN,NaN,987.895,1340.624,1572.509,883.332,804.167,933.500,...,900.000,1475.000,1669.444,802.778,391.667,811.111,1250.000,933.333,372.222,611.111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-27 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
parsed_mod

,camborne,carpentras,budapest_lorinc,magurele_mars,cabauw,cener,payerne,heino,lauwersoog,lelystad_locatie_23t,...,melun,tarbes_ossun,aubenas,bergerac,blois,zuerich_kloten,basel,gurteen,dublin_arpt,grossenzersdorf
2015-01-01 00:00:00+00:00,322.24,2006.25,618.31,576.47,570.49,2202.90,758.52,642.85,283.72,471.00,...,1355.55,2194.47,1994.48,1789.69,1523.82,462.82,934.34,188.11,345.04,251.99
2015-01-02 00:00:00+00:00,965.54,1780.97,824.45,785.85,921.90,1941.67,428.03,892.38,698.94,887.32,...,340.33,1806.02,1619.34,1272.81,289.25,396.29,253.26,778.21,768.75,1299.11
2015-01-03 00:00:00+00:00,426.34,1971.12,1364.50,592.89,370.23,2002.72,316.70,377.06,365.43,298.80,...,168.71,2053.61,1636.83,541.39,187.81,227.27,223.19,621.49,583.59,1091.39
2015-01-04 00:00:00+00:00,508.47,2088.51,1377.73,480.22,877.17,1147.51,1538.57,872.51,696.09,872.79,...,871.87,1462.39,1875.85,812.63,516.98,971.14,1085.63,611.49,352.86,764.58
2015-01-05 00:00:00+00:00,260.57,1918.54,1019.43,582.23,333.92,2264.28,1697.43,489.14,267.37,379.55,...,507.62,2228.66,1909.24,1155.60,949.17,1643.30,1546.95,345.06,184.86,421.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27 00:00:00+00:00,487.95,426.78,737.30,625.89,457.82,1256.63,410.34,624.62,299.68,577.93,...,623.88,1303.31,304.97,926.86,858.87,749.16,517.78,99.03,140.82,1016.76
2021-12-28 00:00:00+00:00,812.65,562.58,322.68,505.63,375.68,980.91,482.23,294.99,224.52,247.01,...,430.82,544.74,665.41,344.89,657.11,535.19,392.87,670.37,676.94,452.66
2021-12-29 00:00:00+00:00,202.87,1372.86,538.59,628.74,325.01,1749.75,445.56,318.58,270.50,279.95,...,352.26,944.34,949.32,388.92,363.20,364.98,282.84,614.90,574.50,952.31
2021-12-30 00:00:00+00:00,221.02,1735.86,320.65,666.84,347.62,1943.17,1393.57,258.83,287.88,252.09,...,754.65,1960.85,1726.70,1762.92,727.51,781.34,837.25,257.29,256.73,884.96
2021-12-31 00:00:00+00:00,472.39,1860.60,1495.88,1560.79,479.66,2086.75,1670.65,309.09,70.42,328.02,...,1295.96,2082.85,1835.93,1827.33,1462.70,1561.50,1541.03,492.30,471.71,1406.01

## column-wise

In [18]:
parsed_ref = parsed_ref.drop('evora', axis=1)
parsed_mod = parsed_mod.drop('evora', axis=1)

## threshold - 1500

In [8]:
ref_aligned, mod_aligned = parsed_ref.align(parsed_mod, fill_value=0)
    
difference = mod_aligned - ref_aligned
difference[ref_aligned==0] = float('nan')
difference[mod_aligned==0] = float('nan')

In [17]:
deleted_values_per_column_15 = difference.apply(lambda x: (x > 1500).sum())
print(deleted_values_per_column_15)

camborne                     1
carpentras                   1
budapest_lorinc              4
magurele_mars                1
cabauw                       3
cener                        9
payerne                      2
heino                        6
lauwersoog                   3
lelystad_locatie_23t         1
stavoren                     1
herwijnen                   10
hohenpeißenberg              0
mannheim                     7
schleswig                    2
görlitz                      0
hamburg_fuhlsbüttel          0
seehausen                    1
rostock_warnemünde           2
dresden_klotzsche            0
lautertal_oberlauter         0
leinefelde                   0
bremen                       0
stuttgart_schnarrenberg      0
nürnberg                     0
weihenstephan_dürnast        2
saarbrücken_ensheim          2
gonzaga                      0
landriano                    5
cornale                    153
aberporth                    1
dunstaffnage                 1
belfast_aldergrove_arpt      0
edinburgh                    0
wattisham                    0
odiham                       0
aberdeen_dyce_arpt           0
waddington                   0
almeria_arpt                12
santiago_arpt               45
ciudad_real                  1
girona_arpt                 22
leon_arpt                    0
valladolid                   0
badajoz                      1
albacete                     0
huelva                       2
salamanca                    6
valencia_arpt                1
lleida                      76
zaragoza_arpt                5
soria                       14
arenosillo                   1
faro_arpt                    4
evora                        3
norrkoping                   0
karlstad                    12
vaxjo_kronoberg              0
stockholm                    1
lund                         1
le_touquet                   1
nancy_essey                  0
tavaux                       0
paris_montsouris             1
perpignan                    1
colmar                       0
lille_lesquin                0
langres                      0
poitiers_biard               0
grenoble_st_geoirs           1
melun                        0
tarbes_ossun                 0
aubenas                      0
bergerac                     0
blois                        0
zuerich_kloten               0
basel                        0
gurteen                      0
dublin_arpt                  0
grossenzersdorf              0
dtype: int64

In [14]:
total_deleted_values = (difference > 1500).sum().sum()
print("Total number of values deleted:", total_deleted_values)

Total number of values deleted: 429

In [9]:
parsed_ref[difference > 1500] = float('nan')

In [16]:
parsed_ref

,camborne,carpentras,budapest_lorinc,magurele_mars,cabauw,cener,payerne,heino,lauwersoog,lelystad_locatie_23t,...,melun,tarbes_ossun,aubenas,bergerac,blois,zuerich_kloten,basel,gurteen,dublin_arpt,grossenzersdorf
2014-12-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 00:00:00+00:00,288.863,2009.370,NaN,NaN,712.279,2402.009,1634.834,600.333,316.166,351.834,...,1550.000,2338.889,1963.889,2327.778,1611.111,844.444,1483.333,158.333,330.556,377.778
2015-01-02 00:00:00+00:00,1067.311,1898.294,NaN,NaN,921.620,1995.462,849.325,706.833,772.501,800.832,...,366.667,2058.333,1836.111,1461.111,233.333,752.778,400.000,905.556,902.778,977.778
2015-01-03 00:00:00+00:00,394.264,2015.272,NaN,NaN,248.181,2290.470,417.981,210.999,394.501,190.167,...,194.444,2219.444,1772.222,436.111,300.000,444.444,297.222,555.556,630.556,969.444
2015-01-04 00:00:00+00:00,494.343,2144.920,NaN,NaN,987.895,1340.624,1572.509,883.332,804.167,933.500,...,900.000,1475.000,1669.444,802.778,391.667,811.111,1250.000,933.333,372.222,611.111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-27 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## threshold - 1000

In [13]:
deleted_values_per_column_10 = difference.apply(lambda x: (x > 1000).sum())
print(deleted_values_per_column_10)

camborne                     6
carpentras                   5
budapest_lorinc              5
magurele_mars                1
cabauw                       4
cener                       18
payerne                     16
heino                       14
lauwersoog                  15
lelystad_locatie_23t         7
stavoren                     2
herwijnen                   15
hohenpeißenberg              8
mannheim                     9
schleswig                    7
görlitz                      1
hamburg_fuhlsbüttel          3
seehausen                    4
rostock_warnemünde           7
dresden_klotzsche            3
lautertal_oberlauter         1
leinefelde                   4
bremen                       1
stuttgart_schnarrenberg     13
nürnberg                     1
weihenstephan_dürnast       10
saarbrücken_ensheim          5
gonzaga                      2
landriano                   15
cornale                    403
aberporth                    3
dunstaffnage                 3
belfast_aldergrove_arpt      1
edinburgh                    1
wattisham                    0
odiham                       0
aberdeen_dyce_arpt           2
waddington                   0
almeria_arpt                29
santiago_arpt               90
ciudad_real                 11
girona_arpt                 70
leon_arpt                    5
valladolid                   6
badajoz                      7
albacete                     8
huelva                       8
salamanca                   45
valencia_arpt                3
lleida                     123
zaragoza_arpt               27
soria                       41
arenosillo                   4
faro_arpt                    9
evora                       15
norrkoping                   5
karlstad                    24
vaxjo_kronoberg              4
stockholm                    5
lund                        13
le_touquet                   7
nancy_essey                  5
tavaux                      24
paris_montsouris             8
perpignan                    8
colmar                       9
lille_lesquin                0
langres                      2
poitiers_biard               3
grenoble_st_geoirs          16
melun                        8
tarbes_ossun                 2
aubenas                      1
bergerac                     7
blois                        2
zuerich_kloten               5
basel                       14
gurteen                      9
dublin_arpt                  5
grossenzersdorf              5
dtype: int64

In [14]:
total_deleted_values_10 = (difference > 1000).sum().sum()
print("Total number of values deleted:", total_deleted_values_10)

Total number of values deleted: 1307

## threshold - 2000

In [15]:
deleted_values_per_column_20 = difference.apply(lambda x: (x > 2000).sum())
print(deleted_values_per_column_20)

camborne                    1
carpentras                  1
budapest_lorinc             3
magurele_mars               1
cabauw                      3
cener                       8
payerne                     2
heino                       2
lauwersoog                  2
lelystad_locatie_23t        1
stavoren                    0
herwijnen                   5
hohenpeißenberg             0
mannheim                    7
schleswig                   1
görlitz                     0
hamburg_fuhlsbüttel         0
seehausen                   1
rostock_warnemünde          0
dresden_klotzsche           0
lautertal_oberlauter        0
leinefelde                  0
bremen                      0
stuttgart_schnarrenberg     0
nürnberg                    0
weihenstephan_dürnast       1
saarbrücken_ensheim         2
gonzaga                     0
landriano                   5
cornale                    54
aberporth                   1
dunstaffnage                0
belfast_aldergrove_arpt     0
edinburgh                   0
wattisham                   0
odiham                      0
aberdeen_dyce_arpt          0
waddington                  0
almeria_arpt                8
santiago_arpt              21
ciudad_real                 0
girona_arpt                12
leon_arpt                   0
valladolid                  0
badajoz                     0
albacete                    0
huelva                      0
salamanca                   3
valencia_arpt               0
lleida                     43
zaragoza_arpt               1
soria                       2
arenosillo                  1
faro_arpt                   4
evora                       2
norrkoping                  0
karlstad                    5
vaxjo_kronoberg             0
stockholm                   0
lund                        1
le_touquet                  1
nancy_essey                 0
tavaux                      0
paris_montsouris            0
perpignan                   0
colmar                      0
lille_lesquin               0
langres                     0
poitiers_biard              0
grenoble_st_geoirs          0
melun                       0
tarbes_ossun                0
aubenas                     0
bergerac                    0
blois                       0
zuerich_kloten              0
basel                       0
gurteen                     0
dublin_arpt                 0
grossenzersdorf             0
dtype: int64

In [16]:
total_deleted_values_20 = (difference > 2000).sum().sum()
print("Total number of values deleted:", total_deleted_values_20)

Total number of values deleted: 205

## negative period

In [10]:
data = {
    'almeria_arpt': [
        ('2018-05-01 00:00:00+00:00', '2018-05-31 00:00:00+00:00')
    ],
    'santiago_arpt': [
        ('2018-06-01 00:00:00+00:00', '2018-06-30 00:00:00+00:00'),
        ('2020-05-02 00:00:00+00:00', '2020-05-30 00:00:00+00:00')
    ],
    'girona_arpt': [
        ('2017-09-01 00:00:00+00:00', '2017-09-29 00:00:00+00:00'),
        ('2018-04-14 00:00:00+00:00', '2018-08-17 00:00:00+00:00')
    ],
    'salamanca': [
        ('2016-05-26 00:00:00+00:00', '2016-06-04 00:00:00+00:00')
    ],
    'lleida': [
        ('2019-01-15 00:00:00+00:00', '2019-08-20 00:00:00+00:00')
    ]
}

In [11]:
for site, periods in data.items():
    for start, end in periods:
        parsed_ref.loc[start:end, site] = None

In [21]:
parsed_ref.to_csv(os.path.join(result_path, 'parsed_removed_reference_data.csv'))
parsed_mod.to_csv(os.path.join(result_path, 'parsed_removed_model_data.csv'))